# Build artifacts
/build/

# Managed by IDE
.idea/

# Managed by Composer
/bin/*
/vendor/
/composer.lock
/composer.phar

# PHPUnit
/phpunit.xml

# OSX files
.DS_Store

# Scratchpad directory for temporary files and tests
/src/.scratchpad/
