version: '3'
services:

  php:
    image: streakphp/php72-cli:latest
    volumes:
      - .:/var/www/project
    working_dir: /var/www/project
    depends_on:
      - postgres
      - redis
    environment:
      COMPOSER_ALLOW_SUPERUSER: 1

  postgres:
    image: postgres:9.4-alpine
    environment:
      POSTGRES_USER: phpunit
      POSTGRES_PASSWORD: phpunit
      POSTGRES_DB: streak

  redis:
    image: redis:alpine
