<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Streak Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="build/code-coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/clover.xml"/>
        <log type="junit" target="build/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <env name="DATABASE_URL" value="pgsql:dbname=phpunit;host=127.0.0.1;port=5432;user=phpunit;password=phpunit" />
    </php>
</phpunit>
